/* Styles related to gallery component */

$gallery-picture-height: 600px;
$gallery-picture-height-small: 300px;
$gallery-picture-height-medium: 450px;

.gallery {
  .container {
    position: relative;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    width: 100%;
    height: $gallery-picture-height;
    overflow-x: auto;
  }

  .gallery-dots {
    bottom: 20px;
    left: 0px;
    right: 0px;
  }

  .preloader {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }

  .error {
    color: #ce3f41;
  }

  .left-btn {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    left: 20px;
    top: 50%;
  }

  .right-btn {
    cursor: pointer;
    position: absolute;
    z-index: 5;
    right: 18px;
    top: 50%;
  }

  ul {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    position: relative;
  }

  li {
    display: inline;
    list-style: none;
    position: relative;
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: $gallery-picture-height;
  }

  .animate{
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  }
}

@media only screen and (max-width: 700px) {
  .gallery {
    .container {
      height: $gallery-picture-height-medium;
      li {
        height: $gallery-picture-height-medium;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .gallery {
    .container {
      height: $gallery-picture-height-small;
      li {
        height: $gallery-picture-height-small;
      }
    }
  }
}

