$gallery-picture-height: 400px;
$gallery-picture-width: 600px;

.gallery {
  .container {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    width: $gallery-picture-width;
    height: $gallery-picture-height;
    overflow-x: auto;
    position: relative
  }

  ul {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    position: absolute;
  }

  li {
    display: inline;
    width: $gallery-picture-width;
    height: $gallery-picture-height;
  }

  img {
    height: $gallery-picture-height;
    width: $gallery-picture-width;
  }
}