/* Styles related to gallery component */

$gallery-picture-height: 400px;
$gallery-picture-width: 600px;

.gallery {
  margin: 10px;

  .container {
    position: relative;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    width: $gallery-picture-width;
    height: $gallery-picture-height;
    overflow-x: auto;
  }

  .gallery-dots {
    bottom: 0px;
    left: 0px;
    right: 0px;
  }

  .preloader {
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }

  .error {
    color: #ce3f41;
  }

  ul {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    position: relative;
  }

  li {
    display: inline;
    list-style: none;
    position: relative;
    float: left;
    width: $gallery-picture-width;
    height: $gallery-picture-height;
  }

  img {
    height: $gallery-picture-height;
    width: $gallery-picture-width;
  }

  .animate{
    -webkit-transition-duration: .7s;
    -moz-transition-duration: .7s;
    -o-transition-duration: .7s;
    transition-duration: .7s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
  }
}