/* Styles that are common for all layout */

body {
  margin: 0px
}

.cursor--pointer {
  cursor: pointer;
}

.absolute {
  position: absolute;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}